@import './base.css';
body{
    font-family:var(--mainFont);
    background-color: #eee;
}
.menu{
    display:none;
}
.header{
    background-color:#fff;
    padding:20px 0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25) !important;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 99;
}
.header .logo{
display:flex;
flex-wrap:wrap;
align-items:center;
gap:2.5px;

}
.header.logo img{
    width:35px;
}
.header .logo a{
    color:var(--mainColor);
}
.active{
    font-weight:900;
}
.nav ul{
    display:flex;
    flex-wrap:wrap;
    gap:16px;
}
.nav ul li a{
    color:#101928;
}
.auth{
    display:flex;
    flex-wrap:wrap;
    align-items:center;
    gap:10px;
}
.auth a{
font-family:var(--subFont);
border-radius: 10px;
padding: 5.3541765213012695px 30.18113136291504px;
border:2px solid var(--mainColor);
font-weight:700;
}
.auth .login{
color:var(--mainColor);
}
.auth .register{
color:#fff;
background-color:var(--mainColor);
}


/*media header */

@media screen and (max-width:992px){
   .nav ,
   .auth{
    display:none;
   }
   .menu{
    display: block;
   }
}

@media screen and (max-width:576px){
    .container{
        width: calc(100% - 70px);
    }
    .header.logo img{
        width:20px;
    }
    .header .logo a{
        font-size:14px;
    }
 }
.begin{
    background-color: #fff;
}
.begin .row{
    gap:30px;
}
.begin .welcome,
.begin .pic{
    width:calc((100% - 30px) / 2);
}
.welcome{
    display:flex;
    flex-wrap:wrap;
    flex-direction:column;
    gap:40px;
}
.welcome .span{
display: flex;
flex-wrap: wrap;
width: 41px;
height: 18px;
 color: var(--mainColor);
}
.welcome h2{
width: 395px;
height: 250px;
font-size: xxx-large;
}
.welcome p{
width: 500px;
height: 22px;
color:#969696;
}
.welcome .last {
    padding: 0 0 20px 0;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
    font-weight: 700;
    font-family:var(--subFont);
}
.welcome .register{
border-radius: 10px;
padding: 5.3541765213012695px 30.18113136291504px;
border:2px solid var(--mainColor);
color:#fff;
background-color:var(--mainColor);
}
.welcome .fa-solid {
    color: #F0C932;
}

.welcome .last-word{
    font-weight: 700;
}
.welcome .mid-word {
    color: var(--mainColor);
}
.pic img{
    width: 80%;
    padding: 20px;
}
.last a:last-of-type{
    color: #000;
}

@media screen and  (max-width:576px){
    
    .welcome p{
        display:none;
       }     
 }


 .services .row{
gap: 20px; 
}
.service{
    width: 20%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 20px;
}
.service p{
    padding: 0 0 100px 0;
    color: #969696;
}
.service h2{
    width: 200px;
}
.service span{
font-family: var(--subFont);
font-weight: 400;
color: var(--mainColor);
padding: 100px 0 0 0 ;
}
.service-item{
    width:60%;
   
    
}
.service-card {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
}
.items{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 10px;
    background-color: var(--mainColor);
    border-radius: 10px;
    padding: 30px;
}

.items p{
    width: 200px;
    color: #DDDDDD;
}
.items a{
    width: 40px;
    text-align: center;
    background-color: #fff;
    border-radius: 30px;
    color: #F0C932;
    font-size:x-large;
}
.items h3{
    color: #fff;
}
.service .arrow{
    padding: 0 0 100px 0;
}
.services .arrow a{
    text-align: center;
    background-color: #F0C932;
    border-radius: 50%;
    color: #fff;
    padding: 10px;
   
}

@media screen and  (max-width:1200px){
    .srevice{
        width: 100%;
    }
    
}

.selected{
    background-color: #272db0 ;
    color: #fff;
    padding: 100px 0 0 0;
}
.selected .row{
    gap: 40px;
}
.selected .pic,
.selected .selected-course{
    width:calc((100% - 40px) / 2 );
}
.selected .selected-course{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 20px;
}

.selected .FOT{
font-family:var(--subFont);
font-weight: 400;
color: #f0c932;
}

.selected-course p{
    color: #DDDDDD;
    width: 350px;
}
.select-item h4{
    color: #F0C932;
}

.select-item span{
    color: #DDDDDD;
}
.selected-course h2{
    width: 200px;
}
.selected-course .row{
    width: 400px;
}

@media screen and  (max-width:768px){
    .selected-course{
    
        width: 100%;
    }
   
    .selected-course p,
    .select-item {
        display:none;
       }
      
 }




 .courses{
    background-color: #fff;
    padding: 100px 0 0 0;
 }
.courses .row{
    gap:40px ;
}

.course-items{
    width:60%;
}
.course-description{
    width:30%;
} 
.course-items{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.course{
    width:calc((100% - 20px) / 2);
    color: #fff;
}
.course img{
    width: 100%;
    filter:brightness(50%);
    display: flex;
}
.course-info{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: flex-start;
}
.course-info span:last-of-type{
    align-self: flex-end;
}
.course-info span:first-of-type{
background-color: var(--mainColor);
padding: 5px;
}
.course-card{
    position: relative;
}
.course-details{
  color:#000;
}
.course-details .row:nth-child(2){
    justify-content: flex-start;
    color:#969696;
  
}
.course-details .views{
    color: var(--mainColor);
    font-size: small;
}
.courses .row:first-of-type{
    align-items: flex-start;
}
.course-description{
    display:flex;
    flex-wrap:wrap;
    flex-direction:column;
    gap:40px;
}
.course-description h2{
    width: 150px;
    height: 50px;
}
 .course-description p:first-of-type{
  line-height: 12px;
  color: var(--mainColor);
 }

 .course-description p:last-of-type{
    width: 50%;
    color:#969696;
   }

   .course-description a{
    width: 51px;
   height: 30px;
   display: flex;
   align-items: center;
   font-family:var(--subFont);
   border-radius: 15px;
   padding: 5.3541765213012695px 30.18113136291504px;
   border:2px solid var(--mainColor);
   font-weight:700;
   color:#fff;
   background-color:var(--mainColor);
   }
   
   @media screen and  (max-width:768px){
    .course-items{
        width: 100%;
    }
    .course-info span {
        display:none;
       }
       .course-description {
        width: 100%;
       }
 }

   @media screen and (max-width:576px){
    .course-items h2{
        font-size: medium;
    }
     
 }
 

 .testimonials{
    padding: 50px 0;
    background-color: #fff;
 }
.testimonial {
    box-shadow: 0px 8.23719596862793px 8.23719596862793px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width:calc( (100% - 40px) /2 );
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: relative;
}
.testimonial::after{
    content: '';
    position: absolute;
    border-top: 35px solid #b4b3b3 ;
    border-bottom: 35px solid transparent;
    border-left:35px solid transparent ;
    border-right:35px solid #b4b3b3  ;
    right: 0;
    top: 0;
}
.testimonials .row{
    gap: 40px;
}
 .user-info {
    display: flex;
    flex-wrap: wrap;
    gap:15px;
    align-items: center;
 }
.user-data{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap:6px;
}
 .user-info img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
 }
 .rating{
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
 }
 .user-data span{
    color:#969696;
    font-size: 15px;
 }
 .testh2{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px 0;
 }

 @media screen and (max-width:768px){
   .testimonial{
    width: 100%;
   }
  }


 .footer{
    background-color:#393E46;
    color:#fff;
    padding: 50px 0;
 }
 .footer .row{
    gap:20px;
 }
 .footer a{
    color:#fff;
 }
 .footer-start{
width:calc( (100% - 20px) / 2);
display:flex;
flex-wrap:wrap;
flex-direction:column;
gap:20px;

 }
 .footer-start .logo{
    display:flex;
    flex-wrap:wrap;
    align-items:center;
    gap:2.5px;
    
 }
.footer-start.logo img{
        width:35px;
 }
 .footer-start .icons img{
border:1px solid #fff;
padding:10px;
width:20px;
height:20px;
 }
    
 .footer-end{
width:calc( (100% - 20px) / 2);
display: flex;
flex-wrap: wrap;
justify-content: space-evenly;
 }
 
 .footer-end nav {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 10px;
 }
 .footer-end .footer-items{
    display: flex;
    flex-direction: column;
    gap:14px;

 }

 

 @media screen and (max-width:768px){
   .footer .row {
    flex-direction: column;
   }
   .footer-start,
    .footer-end{
        width:100%;
   }
   .footer-end{
    gap: 10px;
   }
   .footer-end .footer-items{
    width:calc( (100% - 10px ) / 4);
   }
 }

 @media screen and (max-width:576px){
    .footer-end{
        gap: 10px;
       }
       .footer-end .footer-items{
        width:calc( (100% - 10px) / 3);
       }
       .footer-start p {
        display:none;
       }
 }

 @media screen and (max-width:460px){
       .footer-end .footer-items{
        width:100%;
        text-align: center;
       }
 }



