@import './base.css';
body{
    font-family:var(--mainFont);
    background-color: #eee;
}
.menu{
    display:none;
}
.header{
    background-color:#fff;
    padding:20px 0;
}
.header .logo{
display:flex;
flex-wrap:wrap;
align-items:center;
gap:2.5px;

}
.header.logo img{
    width:35px;
}
.header .logo a{
    color:var(--mainColor);
}
.active{
    font-weight:900;
}
.nav ul{
    display:flex;
    flex-wrap:wrap;
    gap:16px;
}
.nav ul li a{
    color:#101928;
}
.auth{
    display:flex;
    flex-wrap:wrap;
    align-items:center;
    gap:10px;
}
.auth a{
font-family:var(--subFont);
border-radius: 10px;
padding: 5.3541765213012695px 30.18113136291504px;
border:2px solid var(--mainColor);
font-weight:700;
}
.auth .login{
color:var(--mainColor);
}
.auth .register{
color:#fff;
background-color:var(--mainColor);
}


/*media header */

@media screen and (max-width:992px){
   .nav ,
   .auth{
    display:none;
   }
   .menu{
    display: block;
   }
}

@media screen and (max-width:576px){
    .container{
        width: calc(100% - 70px);
    }
    .header.logo img{
        width:20px;
    }
    .header .logo a{
        font-size:14px;
    }
 }

 .testimonials{
    padding: 50px 0;
    background-color: #fff;
 }
.testimonial {
    box-shadow: 0px 8.23719596862793px 8.23719596862793px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width:calc( (100% - 40px) /2 );
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: relative;
}
.testimonial::after{
    content: '';
    position: absolute;
    border-top: 35px solid #b4b3b3 ;
    border-bottom: 35px solid transparent;
    border-left:35px solid transparent ;
    border-right:35px solid #b4b3b3  ;
    right: 0;
    top: 0;
}
.testimonials .row{
    gap: 40px;
}
 .user-info {
    display: flex;
    flex-wrap: wrap;
    gap:15px;
    align-items: center;
 }
.user-data{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap:6px;
}
 .user-info img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
 }
 .rating{
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
 }
 .user-data span{
    color:#969696;
    font-size: 15px;
 }
 .testh2{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px 0;
 }

 @media screen and (max-width:768px){
   .testimonial{
    width: 100%;
   }
  }


 .footer{
    background-color:#393E46;
    color:#fff;
    padding: 50px 0;
 }
 .footer .row{
    gap:20px;
 }
 .footer a{
    color:#fff;
 }
 .footer-start{
width:calc( (100% - 20px) / 2);
display:flex;
flex-wrap:wrap;
flex-direction:column;
gap:20px;

 }
 .footer-start .logo{
    display:flex;
    flex-wrap:wrap;
    align-items:center;
    gap:2.5px;
    
 }
.footer-start.logo img{
        width:35px;
 }
 .footer-start .icons img{
border:1px solid #fff;
padding:10px;
width:20px;
height:20px;
 }
    
 .footer-end{
width:calc( (100% - 20px) / 2);
display: flex;
flex-wrap: wrap;
justify-content: space-evenly;
 }
 
 .footer-end nav {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 10px;
 }
 .footer-end .footer-items{
    display: flex;
    flex-direction: column;
    gap:14px;

 }

 

 @media screen and (max-width:768px){
   .footer .row {
    flex-direction: column;
   }
   .footer-start,
    .footer-end{
        width:100%;
   }
   .footer-end{
    gap: 10px;
   }
   .footer-end .footer-items{
    width:calc( (100% - 10px ) / 4);
   }
 }

 @media screen and (max-width:576px){
    .footer-end{
        gap: 10px;
       }
       .footer-end .footer-items{
        width:calc( (100% - 10px) / 3);
       }
       .footer-start p {
        display:none;
       }
 }

 @media screen and (max-width:460px){
       .footer-end .footer-items{
        width:100%;
        text-align: center;
       }
 }



